@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Rubik+Bubbles&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Edu+SA+Beginner&family=Rubik+Bubbles&family=Rubik+Puddles&display=swap');

.background-image{
  background-image: url("../background_image/about_space.jpeg");
  background-size: cover; 
  margin-top: -30px;
}

.container{
  margin-top: 110px;
}

.rotating-text h1{
  font-family: 'BhuTuka Expanded One', cursive;
  animation: rotate360 5s linear infinite; 
  font-size: 35px;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.description{
  font-family: 'Edu SA Beginner', cursive;
  font-size: 25px;
}


/*Screen resizing*/
@media only screen and (max-width: 500px){
  .background-image{
    background-size: cover; 
  }

  .container{
    margin-top: 150px;
  }
  .rotating-text h1{
    font-size: 100%;
    margin-top: 30px;
  }

  .description{
    font-size: 100%;
  }
}

@media (min-width: 520px){
  .background-image{
    margin-bottom: 30px;
  }
  
  .moon-container {
    max-width: 400px;
    max-height: 300px; 
    margin: 0 auto; 
  }
}

@media (min-width: 520px) and (max-width: 1024px){
  .moon-container {
    max-width: 400px;
    max-height: 300px; 
    margin: 0 auto; 
  }

  .rotating-text h1{
    font-size: 100%;
  }

  .description{
    font-size: 100%;
  }
}
