@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Rubik+Bubbles&family=Rubik+Puddles&display=swap');


.rotating-text {
  color: white;
  font-family: 'BhuTuka Expanded One', cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  /*height: 80vh;*/
  margin-bottom: 10px;
  /*transform: translate(-50%, -50%) rotate(0deg);*/
  animation-name: rotating-animation;
  animation-duration: 6s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotating-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*Phrases css*/
.phrase-1 {
  position: absolute;
  top: 600px;
  left: 100px;
  color: white;
  font-family: 'BhuTuka Expanded One', cursive;
}

/*Screen resizing*/
@media only screen and (max-width: 500px){
  .moon-container
  .rotating-text{
    width: 70%;
    height: 70%;
  }

  .rotating-text h1{
    font-size: 100%;
    position: relative;
    top: 20%;
  }

  .phrase-1{
    top: 50%;
    left: 4%;
    font-size: 90%;
  }
}

/*
@media only screen and (max-width: 800px){
  .moon-container
  .rotating-text
  .phrase-1{
    width: 70%;
    height: 70%;
  }
}*/

/*
  
  .phrase-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
 
  
  .phrase {
    position: absolute;
    font-family: 'Rubik Bubbles', cursive; 
    animation-name: floating-animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: white;
    font-family: 'Rubik Bubbles';

  }

  .phrase-1 {
    top: -600px;
    left: 10px;
  }
  
  .phrase-2 {
    top: -400px;
    right: 400px;
  }
  
  .phrase-3 {
    top: -400px;
    left: 400px;
  }

  .phrase-4 {
    top: -10px;
    right: 400px;
  }

  .phrase-5 {
    top: -10px;
    left: 400px;
  }
  
  @keyframes floating-animation {
    0% {
      transform: translate(-50%, -50%) rotate(360deg) translateY(-50px);
    }
    50% {
      transform: translate(-50%, -50%) rotate(360deg) translateY(50px);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateY(-50px);
    }
  }
*/