.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .animation-container {
    margin-top: auto;
    margin-bottom: auto;
  }


