.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .blue_box {
    position: relative;
    z-index: 1;
    margin: 10% auto;
    text-align: center;
  }
  
  .blue_box h1 {
    font-size: 4rem;
    color: #FFFFF0;
  }
  
  .blue_box p {
    font-size: 2rem;
    color: #FFFFF0;
  }
  
  @media (max-width: 768px) {
    .blue_box {
      margin: 5% auto;
    }
  
    .blue_box h1 {
      font-size: 3rem;
    }
  
    .blue_box p {
      font-size: 1.5rem;
    }
  }
  
  body {
    margin: 0;
  }
  