@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Rubik+Bubbles&family=Rubik+Puddles&display=swap');

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_box {
  position: relative;
  z-index: 1;
  text-align: center;
}

.text_box h1 {
  font-size: 4rem;
  color: #FFFFF0;
  font-family: 'BhuTuka Expanded One', cursive;
  font-size: 42px;
}

@media (max-width: 768px) {
  .text_box {
    margin: 5% auto;
  }

  .text_box h1 {
    font-size: 1.5rem;
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .home-container {
    flex-direction: column;
  }

  .text_box {
    margin: 10% auto;
  }
}
