.image-container{
    background-image: url("../backbround_image/night-sky-stars.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
}

.container {
    position: relative;
  }
  
  .images img{
    position: absolute;
  }
  
  .star-1 {
    top: 30px;
    left: 20px;
    width: 200px;
    height: 150px;
  }
  
  .star-2 {
    top: 100px;
    left: 250px;
    width: 200px;
    height: 150px;
  }
 
  .star-3 {
    top: 270px;
    left: 350px;
    width: 200px;
    height: 150px;
  }

  .star-4 {
    top: 470px;
    left: 450px;
    width: 200px;
    height: 150px;
  }

   /*
  .star-5 {
    top: 90px;
    left: 140px;
  }
  .star-6 {
    top: 90px;
    left: 140px;
  }
  .star-7 {
    top: 90px;
    left: 140px;
  }

  .star-8 {
    top: 90px;
    left: 140px;
  }

  .star-9 {
    top: 90px;
    left: 140px;
  }
  
  .star-10 {
    top: 90px;
    left: 140px;
  }*/